<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqLXcAmTQs_0O-56U966n9vxoHw1m0ePQ</string>
	<key>GCM_SENDER_ID</key>
	<string>471715673358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7a1cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7a1cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471715673358:ios:b8d727578f692ba18c535f</string>
</dict>
</plist>